.container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(0, 0, 0);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Merienda', cursive;
    margin: 0px 0px 0px 5px;
    color: orange;
    font-size: 2rem;
    font-weight: 600;
    transition: all 500ms;
}

.title:hover {
    font-size: 2.2rem;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.link {
    transition: all 500ms;
    margin: 0px 20px;
}

.link:hover {
    color: rgb(255, 255, 255);
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
}

.icon {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    transition: all 500ms;
}

.icon:hover {
    font-size: 1.8rem;
    color: orange;
}

.mobile_container {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: white;
    color: black;
}

.mobile_on {
    display: block;
}

.mobile_off {
    display: none;
}

.mobile_wrapper {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mobile_close {
    position: absolute;
    font-size: 1.5rem;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.mobile_links {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .links {
        display: none;
    }

    .icon {
        display: block;
    }
}